* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centralizado{
    text-align: center;
    border-top: 1px solid #ccc;
}
body{
   background-color: white; 
}
.corpo{
    background-color: white;
}