/*-primierorodape*/
.primeirorodape{
    display: flex;
    margin-top: -15px;
    background-color: rgb(0, 153, 255);
    flex-direction: row;
    align-items: flex-start;
}
.primeirorodape p,
.primeirorodape a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    color: white;
    text-decoration: none;
    width: fit-content;
}    

.primeirorodape a:hover{
    color: gray;
}

/*-esquerda*/
.esquerdafooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 7.5%;
    margin-top: 10px;
    width: 400px;
    height: 700px;
}

.linha{
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
}
/*-centro*/
.centrofooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 30px;
    width: 400px;
} 
/*-direita*/
.direitafooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 30px;
    width: 400px;
}
/*-Segundo rodapé*/
.segundorodape{
    background-color: black;
    display: flex;
    align-items: center;
    gap:50px;
    flex-direction: row;
    height: 50px;
}
.segundorodape a{
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #8a8a8a;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    width: fit-content;
    white-space: nowrap;    
}

.divrodape{
    margin-left: 10%;
    display: flex;
    vertical-align: middle;
    margin-bottom: 1%;
}