.primeirorodape{
    margin-top: -15px;
    background-color: rgb(0, 153, 255);
}
.esquerdafooter{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 7.5%;
    margin-top: 10px;
    width: 400px;
}
.esquerdafooter p,a{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
    color: white;
}

a{
    text-decoration: none;    
}
a:hover{
    color: gray;
}